:root{
    --color1: #000000;
    --color2: #707070;
    --color3: #63f4ff;
    --color4: #030303;
    --color5: #fffcfc;
    --color6: #13233d;
    --color7: #ffffff;
}
*{
    box-sizing: border-box;
    margin: 0;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
button{
    border-radius: 23px;
    outline: none;
    border: none;
}
nav{
    width: 100%;
    height: 90px;
    background-color: var(--color6);
    color: white;
    display: flex;
}
.logo{
    font-weight: bolder;
    font-size: 16px;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0.2rem;
}
.logo img{
    margin-top: 5px;
    width: 90px;
}
ul{
    margin-left: auto;
    list-style: none;
    display: flex;
}
ul li{
    font-weight: bold;
    padding: 1rem 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
li button{
    padding:  10px 10px;
    width: 130px;
    height: 45px;
    border-radius: 15px;
    font-weight: bold;
    background-color: var(--color3);
}
nav ul li:hover{
    background-color: #3b475c;
}
.main{
    background: url(../images/front_img.png);
    height: 86vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
}
.headline h1{
    color: white;
    font-size: 75px;
    font-weight: bolder;
}

.alert p{
    margin-top: 25px;
    color: white;
    font-size: 45px;
}

.get-started{
    width: 280px;
    height: 68px;
    text-align: center;
    padding: 15px;
    border-radius: 23px;
    margin-top: 30px;
    background-color: var(--color3);
}

.get-started:hover{
    background-color: #13233d;
    transition: .5s;
}

.get-started a{
    color: black;
    font-weight: bold;
    font-size: 34px;
    text-decoration: none;
}

.get-started:hover a{
    color: white;
    transition: .5s;
}
.get-started .fa-arrow-right{
    cursor: pointer;
    position: relative;
    bottom: 4px;
}
.get-started .fa-arrow-right:hover{
    transform: translateX(20%);
    color: white;
}
.contrib p{
    margin-top: 60px;
    color: white;
    font-weight: light;
}