#wrapper {
    
    overflow-x: hidden;
 }
 .logo{
  color: aliceblue;
  height: 90px;
  display: block;
  border-bottom: aliceblue 3px solid;
  text-align: center;
  padding-right: 100px;
 }
.logo img{
width: 100px;
height: 60px;
}
#sidebar-wrapper {
  background-color: #13233D;
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}
.header{
     border-bottom: rgb(61, 112, 156) 3px solid;
     height: 90px;
}
.btn{
    width: 250px;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 300px;
}

#page-content-wrapper {
  min-width: 100vw;
  background:#DFDFDF;
}

.container-fluid{
    text-align: center;
    font-size: small;
}
.container-fluid img{
width: 555px;
height: 260px;
margin-top: 6%;
margin-bottom: 40px;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

}
